<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in  
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>

    <!--terradex key-->
    <!--<add key="GoogleApiKey" value="ABQIAAAATHoF_GT6gHoBSfQGwSKxhRQBy2eWUTY56PQE5y8RLX3CuoBz3RRm9ilSGZgMb3g4J7wWhV3xIUlxQQ"/>-->
    <add key="GoogleApiKey" value="ABQIAAAAXk1hvaOWKThi9NFkn5xHxBSUMn-y7q4XKHzEjwOnxL015uTCIhQ82qreOPOxdHEQniJY0HhflYDogg"/>

    <!-- general keys-->
    <add key="DefaultSiteIdForWorldSearch" value="220343"/>
    <add key="DBConnectionName" value="OWSqlServer"/>
    <add key="ShowAdvancedSearch" value="true"/>
    <!-- one by tenth of a mile = 0.00190 -->
    <add key="OneMileInLatLong" value="0.0190"/>
    <add key="ComparisionDistance" value="0.0190"/>
    <add key="OneMileInFeet" value="5280"/>
    <!-- /general keys-->
    <!-- Public site search keys-->
    <add key="PublicPolygonComparisionDistance" value="0.00190"/>
    <add key="PublicMilesInRadius" value="2"/>
    <add key="PublicMilesInRadiusForAdvancedSearch" value="400"/>
    <add key="publicMapWidthSize" value="700"/>
    <add key="publicMapHeightSize" value="600"/>
    <add key="publicSearchZoomLevel" value="13"/>
    <add key="PublicSitePolygonColor" value="#ff3333"/>
    <add key="PolygonLineWidth" value="4"/>
    <add key="PublicUserId" value="1245"/>

    <add key="OrgType" value="Agency"/>
    <!--<add key="OrgType" value="Consulting"/>-->
    <!-- /Public site search keys-->

    <!-- admin settings -->
    <add key="EventsUploadDirectory" value="D:\domains\terradex.com\AdminPages\AdminUniversalData"/>
    <add key="AlertsPolygonComparisionDistanceInMile" value="5"/>
    <add key="ComparisionXMLFile" value="App_Data\CompareDistance.xml"/>
    <add key="DataFileSpliter" value="\t"/>
    <!--<add key="TestEmailAddress" value="kar_125@hotmail.com"  />-->
    <add key="AdminAlertCCMailId" value="operations@terradex.com" />

    <!-- /admin settings -->

    <!-- user site analysis settings-->
    <add key="userAnalysisMapWidthSize" value="700"/>
    <add key="userAnalysisMapHeightSize" value="500"/>
    <add key="EventAlertStartDate" value="1/1/2007"/>
    <add key="PolygonColor" value="#ff3333"/>
    <add key="PolygonSiteColor" value="#0000ff"/>
    <add key="PolygonEventColor" value="#ff3333"/>
    <add key="UserSiteZoomLevel" value="14"/>
    <add key="SiteIdMaxRange" value="6000"/>

    <add key="ToGetAdminSiteName"  value="ReservedForClients"/>
    <!-- /user site analysis settings-->

    <!-- User Alerts settings -->
    <add key="userAlertsMapWidthSize" value="616"/>
    <add key="userAlertsMapHeightSize" value="400"/>
    <add key="UserAlertsZoomLevel" value="13"/>
    <!-- /User Alerts settings -->

    <!-- admin settings-->
    <add key="AlertRecipient" value="AlertRecipient"/>
    <add key="SMTPFrom" value="system@terradex.com"/>
    <add key="NetworkHost" value="localhost"/>

    <!-- /admin settings-->

  </appSettings>


  <connectionStrings>
    <clear />
    <!-- localhost settings... -->
    <remove name="LocalSqlServer" />
    <add name="LocalSQLServer" connectionString="Server=sql05-1.orcsweb.com; Database=terradex; User ID=terradex; Password=www751.`20; Persist Security Info=True"
	   providerName="System.Data.SqlClient" />
    <add name="OWSqlServer" connectionString="Server=sql05-1.orcsweb.com; Database=terradex; User ID=terradex; Password=www751.`20; Persist Security Info=True"
		 providerName="System.Data.SqlClient" />


    <!--PB added 6/28/2007-->
    <add name="DbConn" connectionString="Server=sql05-1.orcsweb.com; Database=terradex; User Id=terradex; password= www751.`20; Persist Security Info=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true" />
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="login.aspx" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
      
    </customErrors> -->
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider"
             description="Default SiteMap provider."
             type="System.Web.XmlSiteMapProvider "
             siteMapFile="Web.sitemap"
             securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <profile>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
        <add name="PhoneNumber"/>
        <add name="EMail"/>
      </properties>
    </profile>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="system@terradex.com">
        <network host="localhost"  />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
